@font-face {
  font-family: 'EB_Garamond';
  src: url('/fonts/EB_Garamond/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto';
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto';
  src: url('/fonts/Noto_Sans_JP/NotoSansJP-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// variables font
$font-serif: 'EB_Garamond', 'Times New Roman', serif;
$font-sans: 'Noto', monospace;
// variables colors
$c-black: #232323;
$c-gray: #B9B9B9;
$c-red: #953737;

h1 {
  font-size: 64px;
  font-family: $font-serif;
}

h3 {
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  font-family: $font-sans;
  color: $c-black;
}

.paragraph {
  text-align: justify;
  margin-top: 20px;
  line-height: 23px;
}

.annotation {
  font-weight: 700;
  text-decoration: underline;
}

.legend {
  font-weight: 700;
  text-align: center;
  padding: 20px 0px;
}


